// search bar
.advanced-search {
    select {
        width: 100px;
    }
}

.search {
    .btn-src {
        max-height: 37px;
    }
}

// apartment card (homepage)
.apartment-card {
    max-width: 500px;
}

.rooms {
    text-align: left;
    padding: 0;
    li {
        display: inline-block;
    }
}

a:hover {
    text-decoration: none;
}
// apartment show
#services {
    ul {
        list-style-type: none;
        padding-left: 15px;
    }
}
